<a href="https://colab.research.google.com/github/Giffy/Mobility_AIBCN/blob/master/4_Weather_Dataset_creation_per_hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## import json data from URL and load to dataframe
#import urllib.request, json 
import pandas as pd

import requests, json
#import urllib
from bs4 import BeautifulSoup

In [0]:
years = [2018]#, 2017, 2018]
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
days = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
        11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
        21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [77]:
weather_data = {
    'data' : [],
    'hour' : [],
    'period' : [],
    'description' : []
}

df = pd.DataFrame(weather_data)
df

Empty DataFrame
Columns: [data, description, hour, period]
Index: []

In [0]:
for y in years:
    year = str(y)

    for m in months:
        month = '0'+str(m) if len(str(m)) == 1 else str(m)
        
        for d in days:
            day = '0'+str(d) if len(str(d)) == 1 else str(d)          

            urlPage = 'https://www.timeanddate.com/scripts/cityajax.php?n=spain/barcelona&mode=historic&hd='+year+month+day+'&month='+month+'&year='+year

            req = requests.get(urlPage)
            # Soup pren el control del contingut del html capturat per requests
            soup = BeautifulSoup(req.content,'lxml')
            
            for element in soup.find_all('tr' , {'class':'c1'}):
              hora = element.text.split('m')
              hora = hora[0]+'m'
              hora1 = hora.split(':')
              hora1 = hora1[0]
              hora2 = hora.split(' ')
              hora2 = hora2[1]              
              desc = element.text.split('Â°F')
              desc = desc[1].split('.')
              weather_data = {
                  'data' : [ year+month+day ],
                  'hour' : [ hora1 ],
                  'period' : [ hora2 ],
                  'description' : [ desc[0] ]
              }
              df= df.append(pd.DataFrame(weather_data), ignore_index=True)

In [87]:
df.tail(3)

           data description hour period
25403  20181231       Clear    9     pm
25404  20181231       Clear   10     pm
25405  20181231       Clear   11     pm

In [0]:
df.to_csv('weather.csv', index= False)

In [96]:
df.description.unique()

array(['Passing clouds', 'Scattered clouds', 'Clear', 'Sunny',
       'Light rain', 'Partly sunny', 'Broken clouds', 'Partly cloudy',
       'Fog', 'Rain', 'Drizzle', 'Scattered showers', 'Rain showers',
       'Sprinkles', 'Dense fog', 'Thunderstorms', 'Thundershowers',
       'Overcast', 'Strong thunderstorms', 'Mild', 'Lots of rain', 'Cool',
       'Mixture of precip', 'Sleet', 'Light fog', 'Heavy rain',
       'Mostly cloudy', 'More clouds than sun', 'Cloudy', 'Snow flurries',
       'Light snow', 'Snow', 'Low clouds'], dtype=object)